:root {
  --text-color: #212121;
  --mini-text-color: #757575;
  --background-color-team: #f5f4fa;
  --acxent-color: #2196f3;
  --background-color-hiro: #2f303a;
  --title-color: #fff;
  --logo: #000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto;
}

.header-titel {
  color: var(--acxent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
}

.header-subtitel {
  color: #000;
}

.header-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
}

.header-link:hover {
  color: var(--acxent-color);
}

.header-contact {
  color: var(--mini-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-contact:hover {
  color: var(--acxent-color);
}

.effective {
  background-color: var(--background-color-hiro);
}

.effective-title {
  color: var(--title-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.effective-button {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: var(--acxent-color);
}

.effective-subtitle {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.effective-info {
  color: var(--mini-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}

.team {
  background-color: var(--background-color-team);
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
}

.team-name {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1, 18;
  letter-spacing: 0.48px;
}

.team-info {
  color: var(--mini-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.footer {
  background-color: var(--background-color-hiro);
}

.footer-title {
  color: var(--acxent-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-subtitle {
  color: var(--title-color);
}

.footer-adres {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-info {
  color: var(--footer-text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.portfolio-link {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
}

.portfolio-link:hover {
  background-color: var(--acxent-color);
  color: var(--title-color);
}

.portfolio-name {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.portfolio-info {
  color: var(--mini-text-color);
font-size: 16px;
font-weight: 400;
line-height: 1.87;
letter-spacing: 0.48px;
}